body{
  background-color: rgb(4, 169, 219);
}
.dovideo{
  margin-left: 5%;
}
iframe{
  margin-left: 3%;
}
nav{
    margin-left: 35%;
    margin-right: 4%;
    margin-bottom: 2%;
  }
  .slider {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    filter: drop-shadow(0px 0px 3px rgba(0,0,0,0.5));
  }

  .slides {
    display: flex;
    width: 300%;
    height: 100%;
    transition: 1.0s ease;
  }

  .slide {
    width: 33.333%;
    height: 100%;
  }

  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .slider input[type="radio"] {
    display: none;
  }

  .controls {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }

  .slider label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
    margin-right: 10px;
    cursor: pointer;
  }

 .slider input[type="radio"]:checked + .controls label {
    background-color: #333;
  }

  #slide1:checked ~ .slides {
    transform: translateX(0);
  }

  #slide2:checked ~ .slides {
    transform: translateX(-33.333%);
  }

  #slide3:checked ~ .slides {
    transform: translateX(-66.666%);
  }
  .container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
  }
  .pastilla {
    background-color: #F2F2F2;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    max-width: 500px;
    text-align: center;
  }
li{
    display: inline-block;
   }
header a{
    text-decoration: none;
    font-weight: bold;
    color: white;
        margin-left: 15px;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    }

header a:hover{
        color: rgb(255, 230, 0);
        text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
    }
h1{
    text-align: center;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}
p{
    text-align: center;
}
figure{
    text-align: center;
}
form{
  
    background-color: yellow ;  
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid lightblue;
    border-radius: 1em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

label {
  display: inline-block;
  width: 90px;
  text-align: right;
}
button{
    background-color: blue;
    color: white;
    border: 1px solid lightblue;
    border-radius: 1em;
    margin-top: 1em;
    margin-left: 40%;
}
@media screen {
  
}